.cursor {
    position: absolute;
    background-color: #0051ff; /* Cor do círculo */
    width: 25px; /* Largura do círculo */
    height: 25px; /* Altura do círculo */
    border-radius: 50%; /* Torna o elemento um círculo */
   
    transform: translate(-50%, -50%); /* Centraliza o círculo */
    z-index: -1; /* Coloca o círculo atrás do texto */
}