.navbar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0; /* Posicione a barra à direita */
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .navbar.open {
    width: 250px;
  }
  
  .navbarContent {
    padding: 16px;
  }
  
  .navbar button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    right: 250px; /* Ajuste a posição do botão conforme necessário */
    transition: 0.5s;
  }
  
  .navbar.open button {
    right: 0;
  }
  