/* About.css */

.about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1C1D20;
    position: relative;
    scroll-snap-align: start;
}

.about__content {
    width: 80%;
    position: relative;
    animation: slideInFromLeft 6s;
}

.about__title {
    display: inline-block;
    margin-bottom: 1.5rem;
    border-bottom: #0051ff solid 2px;
    font-size: 2rem;
    font-weight: 600;
}

.about__subtitle {
    font-size: 3.5rem;
    font-weight: bold;
    color: #bcbcbc;
}

.about__subtitle span {
    color: #0051ff;
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .about__title {
        font-size: 2rem;
        margin-bottom: 1rem;
        border-bottom: #0051ff solid 2px;
        display: inline-block;
    }
    
    .about__subtitle {
        font-size: 3rem;
        color: #bcbcbc;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .about__title {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        border-bottom: #0051ff solid 2px;
        display: inline-block;
    }
    
    .about__subtitle {
        font-size: 2.2rem;
        color: #bcbcbc;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
   .about__title {
        font-size: 1.5rem; /* Adjust as needed */
        margin-bottom: 0.5rem; /* Adjust as needed */
        border-bottom: #0051ff solid 2px; 
        display: inline-block; 
   }

   .about__subtitle {
       font-size: 1.8rem; /* Adjust as needed */
       color: #bcbcbc; 
   }
}
