.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    background-color: var(--body-color);
}

.title {
    font-size: var(--big-font-size);
    font-weight: var(--font-bold);
    color: var(--title-color-dark);
}
